body{
font-family:'Poppins',sans-serif;
background:#c7b7a3;
}

.navbar-custom{
background:#561c24;
}

.foto-user{
width:32px !important;
height:32px !important;
border-radius:50% !important;
object-fit:cover !important;
display:inline-block;
}

.navbar-nav .nav-link{
background:#6d2932;
color:white !important;
padding:8px 16px;
margin-left:10px;
border-radius:6px;
transition:0.3s;
}

.navbar-nav .nav-link:hover{
background:#c7b7a3;
color:#561c24 !important;
}

/* heading */
h1,h2,h3{
    font-family:'Playfair Display', serif;
    color:#561c24;
}

/* card */
.custom-card{
    background:#e8d8c4;
    border:none;
    transition:0.3s;
}

.custom-card:hover{
    transform:translateY(-5px);
    box-shadow:0 4px 15px rgba(0,0,0,0.2);
}

/* tombol utama */
.btn-custom{
    background:#6d2932;
    color:white;
    border:none;
}

.btn-custom:hover{
    background:#561c24;
}

/* footer */
footer{
    background:#561c24;
    color:white;
}